.Reddit-Menu {
  height: 40px;
  line-height: 40px;
  background: #FFF;
  margin-bottom: 10px;
}

.Reddit-Menu-Dropdown {
  padding: 0 16px;
}

.Reddit-Menu-Category-Item {
  padding: 8px;
  text-decoration: none;
}

.Reddit-Menu-Category-Item:focus,
.Reddit-Menu-Category-Item:active {
  text-decoration: none;
}

.Reddit-Menu-Category-Item.active {
  color: red;
}

.Reddit-Menu-Category-Item:first-child {
  padding-left: 0;
}

.Reddit-Menu-Searchbox {
  height: 40px;
  vertical-align: middle;
}

.Reddit-Menu-Searchbox {
  .Searchbox-Container {
    position: absolute;
    right: 0;
    height: 40px;
    padding-right: 10px;
  }

  input {
    height: 34px;
    padding: 0 0 0 10px;
    margin: 0;
    vertical-align: middle;
  }

  button {
    vertical-align: middle;
    height: 34px;
    outline: none;
    border: 1px solid black;
    background: grey;
    border-radius: 8px;
    line-height: 32px;
    margin-left: 10px;
    padding: 0 10px;
  }
}
