.Content-Info-Column {
  border: 1px solid aqua;
  min-height:100vh;
  background: #FFF;
}

.Content-Community-Column {
  border: 1px solid lightsalmon;
  min-height:100vh;
  background: #FFF;
}

.Content-Main-Column {
  border: 1px solid grey;
  min-height:100vh;
  background: #FFF;
  overflow-y: scroll;
}

.Content-Main-Column h3 {
  margin: 7px;
}

.Pagination-container {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.Pagination-container .Pagination-link.back {
  padding-right: 15px;
}
.Pagination-container .Pagination-link a {
  cursor: pointer;
}

.App-layout-col-left, .App-layout-col-content, .App-layout-col-right {
  position: relative;
}

.example-enter, .example-appear {
  opacity: 0.01;
}

.App-layout-col-left.example-appear {
  left: -50px;
}
.App-layout-col-content.example-appear {
  top: -50px;
}
.App-layout-col-right.example-appear {
  bottom: -50px;
}

.example-enter.example-enter-active, .example-appear.example-appear-active {
  opacity: 1;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  top: -50px;
  transition: opacity 300ms ease-in;
}
