.Content-Info-Column {
  border: 1px solid aqua;
  min-height:100vh;
  background: #FFF;
}

.Content-Community-Column {
  border: 1px solid lightsalmon;
  min-height:100vh;
  background: #FFF;
}

.Content-Main-Column {
  border: 1px solid grey;
  min-height:100vh;
  background: #FFF;
}